/*
 * Styles for the Score Panel
 */

 .score-panel {
    /* text-align: left; */
    width: 345px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    font-size: 25px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.control_panal {

    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    /* background-color: gray; */
    padding: 15px;
}

.start_button .reset_button {

    /* float: left; */
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;

}

.restart {
    float: right;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 30px;

}

.timer_1 {

    /* font-size: 30px; */
    margin-left: auto;
    margin-right: auto;
}

/* adds gold color to stars for scoring */
.star_color{
    color: gold;
}
